{% extends "base.html" %}
{% block content %}
<header class="marquee">
<div class="container-fluid" name="photo-container">
		<form id="drop" class="dropzone previews-container" action="/classify">
			<div class="dz-message text-center">
				<h4>Click or drag an image to upload and classify</h4>
				<button type="button" class="random-button btn-default btn-lg">Use a random example image</button>
			</div>
		</form>
</div>
</header>
{% endblock %}
{% block extra_js %}
<script src="/static/js/dropzone.js"></script>
<script src="/static/js/upload.js"></script>
<script src="/static/js/circle-progress.js"></script>
{% endblock %}
